@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Cormorant+Infant:wght@500&family=Fraunces:wght@300&family=Libre+Caslon+Display&family=Libre+Caslon+Text&family=Sorts+Mill+Goudy&display=swap');

body 
{ 
  background: #fff; 
  color: #888; 
  font-family: "Libre Caslon Text"; 
  font-size: 25px;
  margin: 0; 
  padding: 0; 
}
header
{
  padding: 20px 80px;
}
main
{
  padding: 20px;
}

.logo
{
  width: 100%;
}

select
{
  border: 1px solid #ddd;
  padding: 5px 10px;
}
option
{
  border: 1px solid #ddd;
  padding: 5px 10px;
}
textarea
{
  border: 1px solid #ddd;
  padding: 5px 10px;
}
input
{
  border: 1px solid #ddd;
  padding: 5px 10px;
}
input:focus-visible
{
  border: 1px solid #000;
  outline: 0;
}
button
{
  border: 1px solid black;
  background: white;
  font-family: sans-serif;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #888;
  transition: all 0.25s ease-out;
}
button:hover
{
  background: #000;
  color: #fff;
}

.form_section
{
  display: grid;
  grid-template-columns: 3fr 4fr;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  margin: 0px 40px 20px 40px;
}
.form_section h2
{
  border-top: 1px solid black;
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  grid-column: 1 / 3;
}
.form_section h3
{
  xborder-top: 1px solid black;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  grid-column: 1 / 3;
}
.form_section label
{
  justify-self: right;
  text-align: right;
}
.form_input
{
  justify-self: left;
  font-size: 20px;
}
.form_input[type="checkbox"]
{
  height: 20px;
  width: 20px;
}
.form_input[type="radio"]
{
  height: 20px;
  width: 20px;
}
.heading
{
  font-weight: bold;
  color: black
}
.form_section_description
{
  grid-column: 1 / 3;
}
